<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OuterEdge_LeadSources::leads" title="Leads" module="OuterEdge_LeadSources" sortOrder="50" parent="Magento_Backend::marketing_user_content" action="leads/leads" resource="OuterEdge_LeadSources::leads"/>
        <add id="OuterEdge_LeadSources::sources" title="Lead Sources" translate="title"
            module="OuterEdge_LeadSources"
            sortOrder="100" parent="Magento_Reports::report_salesroot" action="reports_lead/lead/sources"
            resource="OuterEdge_LeadSources::lead_sources"/>
    </menu>
</config>